<header>

</header>
<section id="content" class="section">
    <div class="side">

    </div>
    <div class="main maps">
            <div class="original"></div>
            <div class="optimized">
                <div class="map">

                </div>
                <div class="generate">
                </div>
            </div>
    </div>
</section>
<section id="stats" class="section">

</section>
<section id="how-we-did-it" class="section">
    <div class="side">
        <h3> How we did it</h3>
    </div>
    <div class="main">


    </div>
</section>
<section class="section" id="credits">
    <div class="side">
        <h3> What we used </h3>
    </div>
    <div class="main">
        <ul>
            <li>
                <a href="//forio.com" target="_blank"><img src="styles/assets/logos/epicenter-logo.svg" alt=""> Forio Epicenter </a>
            </li>
            <li>
                <a href="//forio.com/products/mandelbrot/" target="_blank"><img src="styles/assets/logos/mandelbrot-logo.svg" alt=""> Forio Mandelbrot </a>
            </li>
            <li>
                <a href="//forio.com/contour" target="_blank"><img src="styles/assets/logos/contour-logo.svg" alt=""> Forio Contour </a>
            </li>
            <li>
                <a href="https://jump.readthedocs.org/en/release-0.4/jump.html" target="_blank"><img src="styles/assets/logos/opensource-logo.svg" alt=""> JuMP  </a>
            </li>
        </ul>
    </div>
</section>

<footer>
    Developed by <a class="logo" href="//forio.com" target="_blank"> <img src="styles/assets/logo-white.svg" alt="/forio"> </a>
</footer>
