<header>

</header>
<!-- <section class="row about">
   <p class="col-xs-12">
       Find the most efficient route to visit a series of places. The Route Optimizer is a graphical example of the classic <a href="http://en.wikipedia.org/wiki/Travelling_salesman_problem" target= "_blank"> Traveling Salesman Problem </a>
   </p>
</section > -->
<section id="content" class="section">
    <div class="side">

    </div>
    <div class="main maps">
            <div class="original"></div>
            <div class="optimized">
                <div class="map">

                </div>
                <div class="generate">
                </div>
            </div>
    </div>
</section>
<section id="stats" class="section">

</section>

<section class="section" id="credits">
    <div class="side">
        <h3> What we used </h3>
    </div>
    <div class="main">
        <ul>
            <li>
                <a href="//forio.com" target="_blank">
                    <img src="styles/assets/logos/epicenter-logo.svg" alt="">
                    <h4> Forio Epicenter  </h4>
                    <span> Server-side model hosting and interface API</span>
                </a>
            </li>
            <li>
                <a href="//forio.com/contour"
                target="_blank"><img src="styles/assets/logos/contour-logo.svg" alt="">
                   <h4> Forio Contour </h4>
                   <span> Interactive JavaScript charts for data visualization</span>
                </a>
            </li>
            <li>
                <a href="//google.com/maps"
                target="_blank"><img src="styles/assets/logos/map.svg" alt="">
                    <h4> Google Maps   </h4>
                    <span> Desktop and mobile web mapping </span>
                </a>
            </li>
            <li>
                <a href="//julialang.org/"
                target="_blank"><img src="styles/assets/logos/julia.svg" alt="">
                    <h4> Julia  </h4>
                    <span> Dynamic programming language for technical computing </span>
                </a>
            </li>
            <li>
                <a href="//jump.readthedocs.org/en/release-0.4/jump.html"
                target="_blank"><img src="styles/assets/logos/opensource-logo.svg" alt="">
                    <h4> JuMP </h4>
                    <span> Linear, integer, and quadratic programming in Julia </span>
                </a>
            </li>
            <li>
                <a href="//www.gnu.org/software/glpk/"
                target="_blank"><img src="styles/assets/logos/opensource-logo.svg" alt="">
                    <h4> GLPK </h4>
                    <span> GNU Linear Programming Kit </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<section id="how-we-did-it" class="section">
    <div class="side">
        <h3> How we did it</h3>
    </div>
    <div class="main">


    </div>
</section>

<footer>
    Developed by <a class="logo" href="//forio.com" target="_blank"> <img src="styles/assets/logo-white.svg" alt="/forio"> </a>
</footer>
