<div class="save-container">
    <label for="route-name-input">Choose the name of your route:</label>
    <input value="" type="text" />
    <div class="save-button">
        <h4> Save Route </h4>
    </div>
</div>
