<a href="https://www.facebook.com/sharer.php" class="facebook"></a>
<a href="https://twitter.com/share" class="twitter"></a>
<i id="copy-icon" data-clipboard-text="<%= url %>" title="Click to copy this route."></i>