.font-legibility {
    /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;

    text-decoration: none;
    text-rendering: optimizeLegibility;
}

@include font-face("SSSymbolicons", font-files(
        "symbolicons/ss-symbolicons-block.woff",
        "symbolicons/ss-symbolicons-block.ttf",
        "symbolicons/ss-symbolicons-block.svg#SSSymboliconsBlock"
        ), "symbolicons/ss-symbolicons-block.eot");

.ss-icon, .ss-icon.ss-symbolicons-block,
[class^="ss-"]:before, [class*=" ss-"]:before {
  font-family: "SSSymbolicons";
  font-style: normal;
  font-weight: normal;

  @extend .font-legibility;
}

body {
    font-weight: $font-light-weight;
    @extend .font-legibility;
}

h1,h2,h3,h4,h5,h6{
    font-weight: $font-light-weight;
}
