#content {
    .side, .maps {
        height: 600px;
    }
    .side {
        background-color: $light-bg;
    }
    .maps{
        overflow: auto;

        .selected {
            color: red;
        }
        >div {
            width: 50%;
            height: 100%;
            background: yellow;
            float: left;

            &:first-child {
                border-right: 5px solid white;
            }
        }

        .optimized {
            position: relative;
            cursor: pointer;

            .map {
                height: 100%;

                &:before {
                    top: 0;
                    left: 0;
                    content: '';
                    background-color: white;
                    opacity: 0.7;
                    z-index: 9;

                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0;

                    @include single-transition(opacity, 0.2s, linear, 0.2s);
                }
                
                &:hover{
                   &:before {
                        opacity: 0.5;
                    }
                }

                &.generated {
                    cursor: default;
                    &:before, &:after {
                        display: none;
                    }
                    +.generate {
                        display: none;
                    }
                }
            }
            .generate {
                width: 100%;
                background-color: $accent-optimized;
                color:white;
                position: absolute;
                text-align: center;
                left: 0;
                bottom: 0;
                h3 {
                    margin: 10px 0;
                }
              
                pointer-events: none;
            }

            // &:before, &:after {
            //     display: block;
            //     position: absolute;
            //     right: 0;
            //     bottom: 0;
            // }
            // &:before {
            //     top: 0;
            //     left: 0;
            //     content: '';
            //     background-color: white;
            //     opacity: 0.7;
            //     z-index: 9;
            // }
            // &:after {
            //     width: 100%;
            //     content: 'Generate Optimzed';
            //     cursor: pointer;
            //     background-color: rgb(230, 166, 64);
            //     z-index: 10;
            //     color: rgb(255, 255, 255);
            //     font-size: 24px;
            //     text-align: center;
            //     padding: 5px 0;
            // }

            //

        }
    }

}
