#content {
    .side, .maps {
        height: 600px;
    }
    .side {
        background-color: $light-bg;
    }
    .maps{
        overflow: auto;

        .selected {
            color: red;
        }
        >div {
            width: 50%;
            height: 100%;
            background: yellow;
            float: left;

            &:first-child {
                border-right: 5px solid white;
            }
        }
    }

}
