#credits {
    background-color: $light-bg;
    padding: 37px 0;
    padding-bottom: 70px;

    ul {
        overflow: visible;
        margin-top: 24px;
        padding-left: 0;

        li {
            list-style: none;
            padding: 10px 0;

            &:first-child {
                padding-top: 0;
            }
            a {
                opacity: 0.7;
                color: $code-bg;
                @include single-transition(opacity, 0.1s, linear, 0.1s);

                  &:hover {
                      text-decoration: none;
                      opacity: 1;
                  }
                img {
                    @include single-transition(transform, 0.2s, linear, 0.2s);
                    &:hover {
                        @include scale(1.1);
                    }

                    background-color: white;
                    border-radius: 50%;
                    width: 70px;
                    height: 70px;
                    padding: 0 10px;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 12px;
                }

                img, h4, span {
                    display: inline-block;
                }
                h4 {
                    margin: auto 30px;
                    color: $code-bg;
                    width: 160px
                }
            }
        }
    }
}
