$sidebarwidth: 235px;
$sidebarPadding: 30px;

.section {
    overflow: auto;
    width: 100%;

    .side {
        width: $sidebarwidth;
        float: left;
        padding-left: $sidebarPadding;
        position: relative;
    }
    .main {
        width: calc(100% - #{$sidebarwidth});
        float: left;
    }
}
