$sidebarwidth: 245px;

.section {
    overflow: auto;
    width: 100%;

    .side {
        width: $sidebarwidth;
        float: left;
    }
    .main {
        width: calc(100% - #{$sidebarwidth});
        float: left;
    }
}
