$section-height: 238px;

#stats {
    height: $section-height;
    background-color: $stats-bg;
    color: $light-bg;

    padding-top: 15px;
    padding-bottom: 15px;

    strong, .center-text{
        font-size: $large-text;
        font-weight: $font-light-weight;
    }
    .center-text {
        fill: $light-bg;

    }

    h4 {
        font-size: $medium-text;
        font-weight: $font-light-weight;
    }

    .side {
        border-right: 1px groove $code-bg;

        >div:first-child {
            padding-top: 37px;
            padding-bottom: 37px;
        }

    }
    .main{
        padding-left: 15px;
        overflow: auto;

        h4 {
            margin-bottom: 15px;
            text-align: center;

        }

        .original {
            color: $accent-original;
        }
        .optimized {
            color: $accent-optimized;
        }

        h5,.value {
            display: inline-block;
            margin-bottom: 0;
        }
        h5 {
            text-align: right;
            width: 72px;
            margin-right: 24px;
            font-weight: $font-light-weight;
        }

        .metric {
            width: 33.3%;
            float: left;
            text-align: center;

        }
    }

    .graph {
        width: 200px;
        .s-1 {
            fill: $accent-optimized;
        }
        .s-2 {
            fill: $code-bg;
        }
    }
}
