$section-height: 258px;

#stats {
    height: $section-height;
    background-color: $stats-bg;
    color: $light-bg;

    padding-top: 15px;
    padding-bottom: 15px;

    overflow: hidden;

    strong, .center-text{
        font-size: $large-text;
        font-weight: $font-light-weight;
    }
    .center-text {
        fill: $light-bg;

    }

    h4 {
        font-size: $medium-text;
        font-weight: $font-light-weight;
    }

    .side {
        border-right: 1px groove $code-bg;

        >div:first-child {
            padding-top: 37px;
            padding-bottom: 10px;
        }

    }
    .main{
        padding-left: 15px;
        overflow: auto;

        h4 {
            margin-bottom: 15px;
        }

        .original {
            color: $accent-original;
        }
        .optimized {
            color: $accent-optimized;
        }

        h5,.value {
            display: inline-block;
            margin-bottom: 0;
        }
        h5 {
            text-align: right;
            width: 72px;
            margin-right: 24px;
            font-weight: $font-light-weight;
        }

        .metric {
            width: 33.3%;
            float: left;
            text-align: center;

            .metric-container {
                width: 300px;
                text-align: right;
            }

            h6 {
                margin-right: 12px;
                margin-top: 17px;
            }

            .graph {
                width: 70px;
                margin-left: auto;
                margin-right: 0;
                .s-1 {
                    fill: $accent-optimized;
                }
                .s-2 {
                    fill: $code-bg;
                }
            }

        }
    }


}
