
$light-bg:  #f5f8fa;
$stats-bg:  #53535c;
$code-bg:  #494952;
$accent-original:  #3c8dc5;
$accent-optimized: #e6a640;
$way-point-highlight:  #e54028;


$font-family-base:  'Open Sans', sans-serif;
$font-light-weight: 300;
$font-normal-weight: 400;

$map-container-height: 515px;
$stats-height: 238px;
