.waypoints {
    $line-height: 26px;
    font-weight: $font-light-weight;

    font-size: 12px;
    line-height: $line-height;
    padding-left: 8px; //bullet dia

    li {
        border-left: 1px solid $accent-original;
        list-style: none;
        position: relative;
        padding-left: 20px;

        cursor: pointer;

        &:before, &:after {
            @extend .ss-icon;
            position: absolute;

        }

        &:before { //Bulled
            color: $accent-original;

            content:'🌑';
            font-size: 11px;
            left: -6px;
            top: 1px;
        }

        &:first-child, &:last-child {
            &:before { //Red circle outline
                color: $way-point-highlight;
                border: 2px solid $way-point-highlight;
                border-radius: 50%;
                width: 18px;
                height: 18px;

                content: '';
                margin-top: 4px;
                margin-left: -3px;
                z-index: 9;
            }

            &:after { //Flag
               content: '⚑';
               background: $light-bg;

               font-size: 8px;
               line-height: 8px;
               color: $way-point-highlight;

               left: -3px;

                z-index: 8;
            }
        }
        &:first-child {
            &:after {
               padding-bottom: 4px;
               padding-top: 17px;
               top: -6px;
            }
        }
        &:last-child {
            &:after {
                padding-bottom: 21px;
                padding-top:4px;
                top: 7px;
            }
        }
    }
}
