<a class="logo" href="//forio.com" target="_blank"> <img src="styles/assets/logo.svg" alt="/forio"> </a>
<h1> Optimize Your
    <select id="lstScenarioSwitcher">
        <% _(scenarios).each(function(name, url){ %>
            <option value="<%= url %>"> <%= name %> </option>
        <% }) %>
    </select>
    with Julia and Forio Epicenter
</h1>
